<html>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid ms-3">
    <a href="/" class="navbar-brand">ʕ•ᴥ•ʔ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <div class="navbar-nav">
        <li><a href="/backTesting/" class="nav-link" aria-current="page">Back Testing</a></li>
        <li><a href="/about/" class="nav-link" aria-current="page">About</a></li>
        <li><a href="/strategies/" class="nav-link" aria-current="page">Strategies</a></li>
        <li><a href="/competition/" class="nav-link" aria-current="page">Competition</a></li>
        <!-- <li><a href="/api/" class="nav-link" aria-current="page">API</a></li> -->
        <li><a href="/news/" class="nav-link" aria-current="page">News</a></li>

        <!-- <li class="nav-item dropdown">
          <a href="/Group/" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">calculators</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="/about/" class="dropdown-item">subitem1</a></li>
            <li><a href="/api/" class="dropdown-item">subitem2</a></li>
            <li><a href="/nes/" class="dropdown-item">subitem3</a></li>
          </ul>
        </li> -->
      </div>
    <!-- Terrible at aligning :( Classes below are for spacing-->
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
      <div class="navbar-nav">
        <li><a href="/login/" class="nav-link" aria-current="page">Login</a></li>
      </div>
    </div>
  </div>
</nav>
</html>